.container {
  width: 75%;
  margin: 20px auto 140px auto;
  position: relative;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header_name {
  position: absolute;
  left: 50%;
  top: -20px;
  transform: translate(-50%, -50%);
  font-size: 1.75rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
    margin-bottom: 90px;
  }

  .header {
    margin-bottom: 24px;
    &_name {
      font-size: 1.5rem;
    }
  }
}