.container {
  padding: 0 275px;
  width: calc(100% - (275px * 2));
  margin-bottom: 140px;
}

.products {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
  &_name {
    font-size: 2rem;
  }
}