.grid {
  margin: 70px auto 140px auto;
  width: 75%;
  display: grid;
  grid-template-columns: 65% 1fr;
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 30px;
  grid-template-areas:
    "grid_1 grid_2"
    "grid_1 grid_3";

  &_1 {
    grid-area: grid_1;
    aspect-ratio: 3 / 2;
  }
  &_2 {
    grid-area: grid_2;
  }
  &_3 {
    grid-area: grid_3;
  }
}