.grid {
  margin: 70px 0 140px 0;
  padding: 0 275px;
  width: calc(100% - (275px * 2));
  display: grid;
  grid-template-columns: 750px 1fr;
  grid-template-rows: repeat(2, 235px);
  grid-gap: 30px;
  grid-template-areas:
    "grid_1 grid_2"
    "grid_1 grid_3";

  &_1 {
    grid-area: grid_1;
  }
  &_2 {
    grid-area: grid_2;
  }
  &_3 {
    grid-area: grid_3;
  }
}