.content {
  border-radius: 10px;
  background: #0A0907 url("/img/OrderBackground.png") center top/cover no-repeat;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  height: fit-content;
  padding: 30px;
}

.image {
  width: 240px;
  aspect-ratio: 15 / 16;
  border-radius: 5px;
}

.leftPart {
  height: calc(100% - 20px);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px 0;
}
.title {
  font-size: 1.3rem;
}
.price {
  font-size: 1.7rem;
}