.wrapper {
  background: #0A0907 url("/img/ShopCartBackground.jpg") center center/cover no-repeat;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 75%;
  min-height: calc(90vh - 110px * 2);
  margin: 70px auto 110px auto;
}

.name {
  font-size: 2rem;
  margin-bottom: 20px;
}

.shopCart {
  width: calc(100% - 30px);
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 30px;
}

.products {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.ordering {
  width: calc(100% - 30px);
  padding: 30px;
  background: #0A0907 url("/img/OrderBackground.png") center top/cover no-repeat;
  box-shadow: 0 9px 46px 0 rgba(0, 0, 0, 0.71);
  border-radius: 10px;
  height: fit-content;

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.btn {
  width: 100%;
  font-size: 1.05rem;
  font-weight: 700;
  text-align: center;

  padding: 8px 15px;
  background-color: #F7B900;
  color: #FFFFFF;
  border-radius: 5px;

  border: none;
}

.line {
  height: 2px;
  border-radius: 5px;
  background: rgba(107, 107, 107, 0.57);
}

.wrap {
  width: 100%;
}

.shop_cart_name {
  font-size: 1.4rem;
  margin-bottom: 10px;
}

.cost {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;

  font-size: 1.3rem;
  font-weight: 400;
  p:last-child {
    font-size: 1.5rem;
    font-weight: 600;
  }
}

@media (max-width: 1200px) {
  .name {
    font-size: 1.6rem;
  }
  .content {
    width: 95%;
    margin-bottom: 90px;
  }
  .shopCart {
    gap: 20px;
  }
  .ordering {
    box-shadow: none;
    padding: 20px;
  }
  .shop_cart_name {
    font-size: 1.12rem;
  }
  .btn {
    font-size: .84rem;
  }
  .cost {
    font-size: 1rem;
    p:last-child {
      font-size: 1.2rem;
    }
  }
}