.container {
  width: 75%;
  margin: 0 auto 220px auto;
}
.name {
  font-size: 1.75rem;
  margin-bottom: 30px;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
    margin-bottom: 120px;
  }

  .name {
    margin-bottom: 24px;
    font-size: 1.5rem;
  }
}