.wrapper {
  padding: 4px;
  background-color: #212121;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headerInfo {
  font-size: 1rem;
  width: 75%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  * {
    font-weight: 500;
  }
}

.contacts {
  display: flex;
  gap: 15px;
  align-items: center;
}

.authorize {
  display: flex;
  gap: 10px;
  align-items: center;
}

.link:hover {
  svg {
    color: #8C8C8C;

  }
  color: #8C8C8C;
}