
.img {
  width: 100%;
  aspect-ratio: 15 / 16;
  border-radius: 5px 5px 0 0;
}

.containerLink {
}

.container {
  background-color: #F9F9F9;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  color: #000000;

  &_name {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.03rem;
    margin-bottom: 10px;
  }

  &_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &Quantity {
      color: #8C8C8C;
      font-size: 1rem;
    }
  }

  &_bottomPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &_price {
    font-size: 1.3rem;
    font-weight: 700;
  }

  &_btn {
    background: none;
    border: none;
    outline: none;
    color: #000000;
  }
}