.container {
  width: 100%;
}
.img {
  width: 100%;
  height: 240px;
  border-radius: 5px 5px 0 0;
}

.container {
  background-color: #F9F9F9;
  border-radius: 5px;
}

.meta {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px 25px;
  color: #000000;

  &_name {
    font-size: 1.4rem;
    font-weight: 600;
    letter-spacing: 0.08rem;
  }

  &_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &Quantity {
      color: #8C8C8C;
      font-size: 1rem;
    }
  }

  &_bottomPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &_price {
    font-size: 1.5rem;
    font-weight: 700;
  }

  &_btn {
    background: none;
    border: none;
    outline: none;
    color: #000000;
  }
}