
.img {
  width: 100%;
  aspect-ratio: 15 / 16;
  border-radius: 5px 5px 0 0;
}

.wrapperLink {
  position: relative;
}
.containerLink {
  cursor: default;
}

.container {
  background-color: #F9F9F9;
  border-radius: 5px;
  width: 100%;
  height: fit-content;
}

.meta {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 15px;
  color: #000000;

  &_name {
    font-size: 1.1rem;
    font-weight: 700;
    letter-spacing: 0.03rem;
    margin-bottom: 10px;
  }

  &_reviews {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    &Quantity {
      color: #8C8C8C;
      font-size: 1rem;
    }
  }

  &_bottomPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  &_price {
    font-size: 1.7rem;
    font-weight: 700;
  }

  &_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;

    background: none;
    border: none;
    outline: none;
  }
}

@media (max-width: 1200px) {
  .img {
    aspect-ratio: 15 / 14;
  }
  .meta {
    padding: 4px;
    &_name {
      font-size: .88rem;
    }
    &_reviewsQuantity {
      font-size: .8rem;
    }
    &_price {
      font-size: 1.3rem;
      font-weight: 700;
    }
    &_btn {
      right: 0;
      bottom: 0;
    }
  }
  .star {
    width: 16px;
    height: 16px;
  }
  .shopCart_img {
    width: 23px;
    aspect-ratio: 1 / 1;
  }
}