.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;
}

.url {
  font-weight: bold;
  font-size: 1.1rem;
}

.params {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.field {
  width: 100%;
}

#image_field {
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 5px 0;
}

.response {
  width: calc(100% - 20px * 2);
  padding: 20px;
  border-radius: 20px;
  background-color: #f4f4f4;
  span {
    font-size: .8rem;
    font-weight: 500;
  }
  &_title {
    font-size: 1.1rem;
    font-weight: 600;
  }
}

.label {
  font-weight: 500;
}

.error {
  display: none;
  font-weight: 500;
  font-size: .8rem;
  color: #ff4d4f;
}