.wrapper {
  background: #0A0907 url("/img/ServicesBackground.jpg") center top/cover no-repeat;

  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.content {
  width: 75%;
  margin: 70px auto 110px auto;
  min-height: 20vw;
}

.name {
  margin-bottom: 20px;
  font-size: 2rem;
}

.paragraph {
  margin-bottom: 5px;
  &:last-child {
    margin-bottom: 0;
  }
}