.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 35px 0;
  background: #0A0907 url("/img/FooterBackground.jpg") center center/cover no-repeat;
}

.container {
  width: 75%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  max-width: 80%;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

.column {
  max-width: 330px;
  &_name {
    font-size: 1.3rem;
    color: #EEB200;
    font-weight: 700;
    margin-bottom: 5px;
  }
}
.link {
  font-size: 1.1rem;
  color: #ABABAB;
  margin-bottom: 3px;
}

.block {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 30px;
}

.timetable {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 3px;

}
.time {
  color: #FFFFFF;
}
.contacts {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

@media (max-width: 1200px) {
  .container {
    width: 95%;
  }
  .column_unique {
    width: 300px;
  }
  .column_name {
    font-size: 1rem;
  }
  .link {
    font-size: .8rem;
  }
  .time {
    font-size: .6rem;
  }
}