.link {
  margin-top: 20px;
  padding: 5px 20px;
  font-size: 1.2rem;
  border: none;
  border-radius: 5px;
  background-color: #FF5050;
  color: white !important;
  display: flex;
  align-items: center;
  gap: 5px;
}