.select {
  border-radius: 5px;
  padding: 8px 15px;
  width: 235px;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.02rem;

  background-color: #EEB200;
}

.option {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  background-color: #FFFFFF;
}

@media (max-width: 1200px) {
  .select {
    width: 188px;
    font-size: .8rem;
  }
  .option {
    font-size: .8rem;
  }
}