.select {
  padding: 8px 15px;
  width: 235px;
  font-size: 0.9rem;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: -0.02rem;

  background-color: #EEB200;
}

.option {
  text-transform: capitalize;
  font-size: 1rem;
  font-weight: bold;
  background-color: #FFFFFF;
}