.wrapper {
  background: #0A0907 url("/img/ServicesBackground.jpg") center top/cover no-repeat;
}

.content {
  padding: 125px 280px 110px 280px;
  width: calc(100% - (280px * 2));
}

.name {
  margin-bottom: 20px;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}