.wrapper {
  background: #0A0907 url("/img/ServicesBackground.jpg") center top/cover no-repeat;
  min-height: 100vh;
}

.content {
  width: 75%;
  margin: 70px auto 110px auto;
}

.name {
  margin-bottom: 20px;
  font-size: 2rem;
}

.services {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

@media (max-width: 1200px) {
  .content {
    width: 95%;
    margin-bottom: 90px;
  }
  .name {
    font-size: 1.6rem;
  }
}